// Light theme
:root {
  --bg-color: #F5F6F3;
  --text-color: #333;
  --navbar-color: #CADCAE;
  --footer-bg-color: #CADCAE;
  --card-background-color: #E3E9D3;
}

// Dark theme
[data-theme="dark"] {
  --bg-color: #1f1f1f;
  --text-color: #f5f5f5;
  --navbar-color: #2c2c2c;
  --footer-bg-color: #2c2c2c;
  --card-background-color: #f5ece7;
}
