// Light theme
:root {
  --navbar-color: #CADCAE;
  --bg-color: #F5F6F3;
  --card-background-color: #E3E9D3;
  --text-color: #333;
  --footer-bg-color: #CADCAE;
}

// Dark theme
[data-theme="dark"] {
  --navbar-color: #374357;           
  --bg-color: #0f1c2e;               
  --card-background-color: #1f2b3e;  
  --text-color: #F5F6F3;             
  --footer-bg-color: #374357;
}
