.card-image {
  display: block;
  width: 100%;
}

.card-image-wrapper {
  margin-left: -1rem; /* counteracts Card.Body padding (default 1rem) */
  margin-right: -1rem;
  margin-top: -1rem;
}
